* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  font: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.links a {
  text-decoration: none;
  color: black;
  margin-right: 1em;
}
.links a:hover {
  text-decoration: underline;
}
.img-icon {
  display: flex;
}
.img-icon .icon {
  display: inline-block;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  border-radius: 2px;
}
.img-icon .icon:hover,
.image:hover {
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
}

.img-icon .image {
  display: inline-block;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  background-color: #5d4037;
  border-radius: 50%;
}
.image span {
  /* border: 1px solid greenyellow; */
  position: relative;
  left: 5px;
  top: 7px;
  color: white;
  font-weight: 500;
}
.main {
  /* border: red 1px solid; */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main img {
  display: block;
  max-height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  height: 120px;
  width: 300px;
  margin: 10px;
}
.input-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 4px;
  margin-top: 2em;
}

.input-box input {
  outline: none;
  width: 80%;
  height: 40px;
  font-size: 16px;
  background: transparent;
  border: none;
}

.input-box:hover {
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
}

.div-button {
  margin-top: 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-button button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.div-button button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.languages {
  height: 200px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font: 10px;
  font-family: Arial;
}
.languages a {
  text-decoration: none;
  margin-left: 8px;
  color: blue;
}
.languages a:hover {
  text-decoration: underline;
}
